{% extends "email/base.html" %}

{% block alert %}

    <tr>
        <td class="alert alert-warning">
            Vennligst svar på denne spørreundersøkelsen fra Abakus
        </td>
    </tr>

{% endblock %}

{% block content %}

    <tr>
        <td class="content-block">
            Hei, {{ name }}!
        </td>
    </tr>

    <tr>
        <td class="content-block">
            Du har en ny undersøkelse å svare på for arrangementet {{ event }}.
        </td>
    </tr>

    <tr>
        <td class="content-block">
                
            <i>Du vil ikke ha mulighet til å melde deg på et nytt arrangement på abakus.no før dette er gjort.</i>
        </td>
    </tr>

    <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <a href="https://abakus.no/events/2453" class="btn-primary" itemprop="url" style="color:#FFF; text-decoration:none; background-color:#348eda; border:solid #348eda; border-radius:5px; border-width:10px 20px; cursor:pointer; display:inline-block; font-weight:bold; line-height:2em; text-align:center; text-transform:capitalize" bgcolor="#348eda" align="center">Gå til undersøkelsen</a>
        </td>
    </tr>


{% endblock %}
