version: '2'

services:
  elasticsearch:
    image: 'elasticsearch:5'
    ports:
     - '127.0.0.1:9200:9200'

  kibana:
    image: 'kibana:5'
    ports:
     - '127.0.0.1:5601:5601'
    links:
      - elasticsearch

  postgres:
    image: postgres:9.5
    ports:
      - '127.0.0.1:5432:5432'
    environment:
      - POSTGRES_USER=lego

  minio:
    image: minio/minio:latest
    ports:
      - '127.0.0.1:9000:9000'
    environment:
      - MINIO_ACCESS_KEY=123456789
      - MINIO_SECRET_KEY=123456789
    command: server /export
    volumes:
      - ./minio/:/root/.minio

  redis:
    image: redis:latest
    ports:
      - '127.0.0.1:6379:6379'

  thumbor:
    image: apsl/thumbor:latest
    ports:
      - "127.0.0.1:10000:8000"
    environment:
      SECURITY_KEY: 'lego-dev'
      MAX_WIDTH: 1000
      MAX_HEIGHT: 800
      QUALITY: 98
      ALLOW_UNSAFE_URL: 0
      ALLOW_OLD_URLS: 0
      AWS_ACCESS_KEY_ID: 'lego-dev'
      AWS_SECRET_ACCESS_KEY: 'lego-dev'
      TC_AWS_LOADER_BUCKET: lego
      TC_AWS_REGION: us-east-1
      TC_AWS_ENDPOINT: '"http://minio:9000"'
      LOADER: tc_aws.loaders.s3_loader
    links:
      - minio

  cassandra:
    image: cassandra:3
    ports:
      - "127.0.0.1:9042:9042"

  ldap:
    image: osixia/openldap:1.1.8
    ports:
      - "127.0.0.1:389:389"
      - "127.0.0.1:636:636"
    environment:
      LDAP_ORGANISATION: "Abakus Linjeforening"
      LDAP_DOMAIN: "abakus.no"
      LDAP_ADMIN_PASSWORD: "admin"
      LDAP_CONFIG_PASSWORD: "config"
      LDAP_READONLY_USER: "false"
      LDAP_TLS: "true"
      LDAP_TLS_CRT_FILENAME: "ldap.crt"
      LDAP_TLS_KEY_FILENAME: "ldap.key"
      LDAP_TLS_CA_CRT_FILENAME: "ca.crt"
      LDAP_TLS_ENFORCE: "false"
