version: '2'

services:
  elasticsearch:
    image: 'elasticsearch:5'
    ports:
     - '127.0.0.1:9200:9200'

  kibana:
    image: 'kibana:5'
    ports:
     - '127.0.0.1:5601:5601'
    links:
      - elasticsearch

  postgres:
    image: postgres:9.5
    ports:
      - '127.0.0.1:5432:5432'
    environment:
      - POSTGRES_USER=lego

  minio:
    image: minio/minio:edge
    ports:
      - '127.0.0.1:9000:9000'
    environment:
      - MINIO_ACCESS_KEY=lego-dev
      - MINIO_SECRET_KEY=lego-dev
    command: server /export

  redis:
    image: redis:latest
    ports:
      - '127.0.0.1:6379:6379'

  thumbor:
    build : ./thumbor
    ports:
      - "127.0.0.1:10000:8000"
    environment:
      SECURITY_KEY: 'lego-dev'
      MAX_WIDTH: 1000
      MAX_HEIGHT: 800
      QUALITY: 98
      ALLOW_UNSAFE_URL: 0
      ALLOW_OLD_URLS: 0
      AWS_ACCESS_KEY_ID: 'lego-dev'
      AWS_SECRET_ACCESS_KEY: 'lego-dev'
      TC_AWS_LOADER_BUCKET: lego
      TC_AWS_REGION: us-east-1
      TC_AWS_ENDPOINT: http://minio:9000
      LOADER: tc_aws.loaders.s3_loader
    links:
      - minio
