version: '3.5'

services:

  postgres:
    image: postgres:12.3
    ports:
      - '127.0.0.1:5432:5432'
    environment:
      - POSTGRES_USER=lego
      - POSTGRES_HOST_AUTH_METHOD=trust

  lego_cypress_helper:
    image: abakus/lego-cypress-helper:latest
    ports:
      - "127.0.0.1:3030:3030"
    environment:
      PG_HOST: 'postgres'
      PG_USERNAME: 'lego'
      PG_DATABASE: 'lego'
    links:
      - postgres

  minio:
    image: minio/minio
    ports:
      - '127.0.0.1:9000:9000'
    environment:
      - MINIO_ACCESS_KEY=lego-dev
      - MINIO_SECRET_KEY=lego-dev
    command: server /export

  redis:
    image: redis:latest
    ports:
      - '127.0.0.1:6379:6379'

  thumbor:
    image: apsl/thumbor:latest
    ports:
      - "127.0.0.1:10000:8000"
    environment:
      SECURITY_KEY: 'lego-dev'
      MAX_WIDTH: 1000
      MAX_HEIGHT: 800
      QUALITY: 98
      ALLOW_UNSAFE_URL: 0
      ALLOW_OLD_URLS: 0
      AWS_ACCESS_KEY_ID: 'lego-dev'
      AWS_SECRET_ACCESS_KEY: 'lego-dev'
      TC_AWS_LOADER_BUCKET: lego
      TC_AWS_REGION: us-east-1
      TC_AWS_ENDPOINT: '"http://minio:9000"'
      LOADER: tc_aws.loaders.s3_loader
    links:
      - minio
