{% extends "email/base.html" %}

{% block alert %}

    <tr>
        <td class="alert alert-info">
            Du er flyttet opp fra ventelisten
        </td>
    </tr>

{% endblock %}

{% block content %}

    <tr>
        <td class="content-block">
            Hei {{ name }}!
        </td>
    </tr>

    <tr>
        <td class="content-block">
            Du har blitt flyttet opp fra ventelisten på arrangementet {{ event }}.
        </td>
    </tr>

    <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <a href="{{ frontend_url }}/events/{{ slug }}" class="btn-primary" itemprop="url">Vis Event</a>
        </td>
    </tr>


{% endblock %}
