{% extends "email/base.html" %}

{% block alert %}

    <tr>
        <td class="alert alert-bad">
            Du har ikke betalt påmelding til et arrangement
        </td>
    </tr>

{% endblock %}

{% block content %}

    <tr>
        <td class="content-block">
            Hei {{ name }}!
        </td>
    </tr>

    <tr>
        <td class="content-block">
            Du har ikke betalt for {{ event }}.
            Hvis du ikke betaler innen betalingsfristen {{ due_date|date:"j. M Y, H:i" }} risikerer du å miste plassen din.
            Dersom du ikke skal delta på arrangementet, må du fortsatt melde deg av.
        </td>
    </tr>

    <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <a href="{{ frontend_url }}/events/{{ id }}" class="btn-primary" itemprop="url">Betal her</a>
        </td>
    </tr>


{% endblock %}
