{% extends "base.html" %}
{% load static %}

{% block body %}

    <section class="hero is-fullheight login">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-4 is-offset-4">
                        <div class="box">
                            <figure class="image">
                                <img class="logo" src="{% static "assets/img/logo.png" %}">
                            </figure>

                            <h2 class="subtitle has-text-centered">Tillat applikasjonen å bruke din informasjon fra abakus.no</h2>

                            {% if not error %}

                                <form id="authorizationForm" method="post">
                                    {% csrf_token %}

                                    <h1 class="title has-text-centered">{{ application.name }}</h1>
                                    <p class="has-text-centered">opprettet av <a href="mailto:{{ application.user.email }}">{{ application.user.full_name }}</a></p>
                                    <br/>
                                    <h2 class="subtitle has-text-centered">{{ application.description }}</h2>

                                    <div class="content">
                                        <p>Applikasjonen krever tilgang til følgende:</p>
                                        <ul class="list has-text-centered">
                                        {% for scope in scopes_descriptions %}
                                            <li class="has-text-centered">{{ scope }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>

                                    {% for field in form %}
                                        {% if field.is_hidden %}
                                            {{ field }}
                                        {% endif %}
                                    {% endfor %}


                                    <div class="content">
                                        <p class="has-text-centered">
                                            <strong>
                                                Aldri gi tilgang til applikasjoner du ikke stoler på.
                                                Kontakt <a href="mailto:{{ SITE.contact_email }}">{{ SITE.owner }}</a> for mer informasjon.
                                            </strong>
                                        </p>
                                    </div>

                                    <div class="control is-grouped is-pulled-right">
                                        <p class="control">
                                            <input type="submit" class="button is-outlined is-danger" value="Avbryt" />
                                        </p>
                                        <p class="control">
                                            <input type="submit" class="button is-outlined is-pulled-right" name="allow" value="Godta" />
                                        </p>
                                    </div>

                                </form>
                                <div class="is-clearfix"></div>

                            {% else %}
                                <div class="notification is-danger">
                                    <h2 class="subtitle">Error: {{ error.error }}</h2>
                                    <p>{{ error.description }}</p>
                                </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock body %}
