{% extends "base.html" %}
{% load staticfiles %}

{% block body %}

    <section class="hero is-fullheight">

        <div class="hero-head">
            <div class="container">
                <nav class="nav">
                    <div class="nav-left"></div>
                    <div class="nav-center">
                        {% if user.is_authenticated %}
                            <a class="nav-item" href="{% url "logout" %}">Logout</a>
                        {% else %}
                            <a class="nav-item" href="{% url "login" %}">Login</a>
                        {% endif %}

                        <a class="nav-item" href="{% url "api:default" %}">API</a>
                        <span class="nav-item">
                            <img src="{% static "assets/img/logo.png" %}">
                        </span>
                        <a class="nav-item" href="{{ SITE.documentation_url }}">Docs</a>
                        <a class="nav-item" href="{% url "api-docs:docs-index" %}">API Docs</a>
                    </div>
                    <div class="nav-right"></div>
                </nav>
            </div>
        </div>

        <div class="hero-body">
            <div class="container">
                <img src="{% static "assets/img/landing.png" %}">
            </div>
        </div>

        <div class="hero-foot">
            <footer class="footer">
                <div class="container">
                    <div class="content has-text-centered">
                        <h1 class="title">{{ SITE.slogan }}</h1>
                    </div>
                </div>
            </footer>
        </div>

    </section>

{% endblock %}
