{% extends "email/base.html" %}

{% block alert %}

    <tr>
        <td class="alert alert-info">
            Velkommen til Abakus.no
        </td>
    </tr>

{% endblock %}

{% block content %}

    <tr>
        <td class="content-block">
            Hei,
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <p>Noen har startet registrering av en ny bruker på Abakus.no.</p>
            <p>For å fullføre registreringen, trykk på knappen under.</p>
        </td>
    </tr>

    <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <a href="{{ frontend_url }}/users/registration/?token={{ token }}" class="btn-primary" itemprop="url">Fullfør registrering</a>
        </td>
    </tr>

{% endblock %}
