{% extends "email/base.html" %}

{% block alert %}

    <tr>
        <td class="alert alert-info">
            {{ email_title }}
        </td>
    </tr>

{% endblock %}

{% block content %}

    <tr>
        <td class="content-block">
            Hei {{ username }},
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <p>Noen har opprettet en ny bruker til deg på Abakus.no.</p>
            <p>For å bekrefte din nye konto, trykk på knappen under.</p>
        </td>
    </tr>

    <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <a href="{{ frontend_url }}/users/registration/?token={{ token }}" class="btn-primary" itemprop="url">Bekreft konto</a>
        </td>
    </tr>

{% endblock %}