{% extends "email/base.html" %}

{% block alert %}

    <tr>
        <td class="alert alert-info">
            Nullstill passord
        </td>
    </tr>

{% endblock %}

{% block content %}

    <tr>
        <td class="content-block">
            Hei,
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <p>For å nullstille ditt passord på abakus.no, trykk på knappen under:</p>
        </td>
    </tr>

    <tr>
        <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
          <a href="{{ frontend_url }}/users/reset-password/?token={{ token }}" class="btn-primary" itemprop="url">Nullstill passord</a>
        </td>
    </tr>

    <tr>
        <td class="content-block">
            <p>
                Ikke du som vil tilbakestille passordet? Ignorer denne mailen, du kan eventuelt ta
                kontakt med {{ owner }} om du har spørsmål ({{ contact_email }}).
            </p>
        </td>
    </tr>

{% endblock %}
