{% extends "email/base.html" %}

{% block alert %}

    <tr>
        <td class="alert alert-info">
            Viktig melding
        </td>
    </tr>

{% endblock %}

{% block content %}

    <tr>
        <td class="content-block">
            Hei {{ name }}!
        </td>
    </tr>

    <tr>
        <td class="content-block">
            {{created_by}} sendte deg en viktig melding.
        </td>
    </tr>

    <tr>
        <td class="content-block">
            {{ message }}
        </td>
    </tr>

    <tr>
        <td class="content-block">
            Les mer på <a href="{{ frontend_url }}/">{{ frontend_url }}</a>.
        </td>
    </tr>

{% endblock %}
