name: LEGO backend

on:
    push:
        branches:
          - '*'
          - '!master'
          - '!prod'
        paths:
          - '!README.md'

jobs:
    missing-migrations:
        name: Check for missing migrations
        runs-on: ubuntu-latest

        services:
            cache:
                image: redis
                ports:
                  - 6379:6379
            postgres:
                image: postgres
                env:
                    POSTGRES_USER: lego
                ports:
                  - 5432:5432
                # needed because the postgres container does not provide a healthcheck
                options: --health-cmd pg_isready --health-interval 10s --health-timeout
                    5s --health-retries 5

        steps:
          - name: Checkout commit
            uses: actions/checkout@v1

          - name: Set up Python 3.7
            uses: actions/setup-python@v1
            with:
                python-version: 3.7

          - name: Setup CI and install tox
            run: |
                make ci_settings
                pip install tox
            env:
                LANG: C.UTF-8

          - name: Test for missing migrations
            run: |
                tox -e missing-migrations
            env:
                LANG: C.UTF-8
    tests:
        name: Run tests
        runs-on: ubuntu-latest

        services:
            cache:
                image: redis
                ports:
                  - 6379:6379
            postgres:
                image: postgres
                env:
                    POSTGRES_USER: lego
                ports:
                  - 5432:5432
                # needed because the postgres container does not provide a healthcheck
                options: --health-cmd pg_isready --health-interval 10s --health-timeout
                    5s --health-retries 5

        steps:
          - name: Checkout commit
            uses: actions/checkout@v1

          - name: Set up Python 3.7
            uses: actions/setup-python@v1
            with:
                python-version: 3.7

          - name: Setup CI and install tox
            run: |
                make ci_settings
                pip install tox
            env:
                LANG: C.UTF-8

          - name: Run unit tests
            run: tox -e tests
            env:
                LANG: C.UTF-8

          - name: Generate coverage
            run: tox -e coverage
            env:
                LANG: C.UTF-8
    linting-and-docs:
        name: Run linting and generate docs
        runs-on: ubuntu-latest

        steps:
          - name: Checkout commit
            uses: actions/checkout@v1

          - name: Set up Python 3.7
            uses: actions/setup-python@v1
            with:
                python-version: 3.7

          - name: Setup CI and install tox
            run: |
                make ci_settings
                pip install tox
            env:
                LANG: C.UTF-8

          - name: Run isort linting
            run: tox -e isort
            env:
                LANG: C.UTF-8

          - name: Run flake8 linting
            run: tox -e flake8
            env:
                LANG: C.UTF-8

          - name: Run black linting
            run: tox -e black
            env:
                LANG: C.UTF-8

          - name: Generate docs
            run: tox -e docs
            env:
                LANG: C.UTF-8
